$color-primary: #55c57a;
$color-secondary: #28b485;
$color-white: #ffffff;
$color-tertiary: #282828;
$color-dark: #000;
$color-light: #eee;
$color-dark-icon: #134a08;

$color-back-light-1: #e79b4f;
$color-back-dark-1: #ce761e;

$color-back-light-2: #5fe453;
$color-back-dark-2: #189200;

$color-back-light-3: #5897e9;
$color-back-dark-3: #2575ee;
