.story {
  width: 75%;
  background-color: rgba($color-light,.75);
  margin: 0 auto;
  height: 75%;
  padding: 6rem;
  box-shadow:0 1.5rem 6rem $color-dark;
  color: $color-dark;
  transform: skewX(-12deg);
  //   font-size: 1.5em;
  &:not(:last-child) {
    //   margin-
    margin: 5em auto;
  }
  &_img {
    height: 100%;
    width: 100%;
    margin-right: -50px;
    transform: scale(1.4);
  }
  &_shape {
    height: 10rem;
    width: 10rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
  }
  &_text {
    backface-visibility: hidden;

    transform: skewX(12deg);
  }
  backface-visibility: hidden;
  clear: both;

  &_caption {
    text-align: center;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    opacity: 0;
  }
  &:hover &_caption {
    backface-visibility: hidden;
    clear: both;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    opacity: 1;
  }
  &:hover &_img {
    transform: scale(1);
    // backface-visibility: hidden;
    filter: blur(5px) brightness(80%);
    border: none;
    transition: all 0.5s;
  }
}
