@keyframes comeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  80% {
    transform: translateY(-10px);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonFillColor {
  0% {
    background-color: transparent;

  }
  100% {
    background-color: $color-primary;
    color: #000;
  transform:translateX(-3px);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
